package app

import (
  "github.com/smtdfc/photon/pkg/base"
  "github.com/smtdfc/photon/pkg/echo-adapter"
  //"github.com/smtdfc/photon/pkg/melody-adapter"
  //"github.com/labstack/echo/v4"
)

func Init() *photon.App {
  httpAdapter,_:=echoAdapter.Init()
  //socketAdapter,_ := melodyAdapter.Init(),
  
  app := photon.NewApp()
  app.Adapter.UseHttpAdapter(httpAdapter)
  //app.Adapter.UseSocketAdapter(socketAdapter)
  
  // Init modules
  InitModule(app)
  
  return app
}
