package app

import (
  "fmt"
  "github.com/smtdfc/photon/pkg/base"
  "github.com/smtdfc/photon/pkg/echo-adapter"
  //"github.com/smtdfc/photon/pkg/melody-adapter"
  //"github.com/labstack/echo/v4"
)

func Init() *photon.App {
  httpAdapter,_:=echoAdapter.Init()
  //socketAdapter,_ := melodyAdapter.Init(),
  
  app := photon.NewApp(
    httpAdapter,
   // socketAdapter,
  )
  
  // Init modules
  InitModule(app)
  
  return app
}
