{
  "module": "app",
  "providers": {
    "App": {
      "from": ".",
      "factory": "NewApp",
      "dependencies": []
    },
    "Root": {
      "from": ".",
      "factory": "Init",
      "dependencies": ["inject:App"]
    }
  }
}